.d_flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.d_block{
    display: block;
}

.align_items_center {
    align-items: center;
}

.align_items_start {
    align-items: flex-start;
}

.align_items_end {
    align-items: flex-end;
}

.justify_content_between {
    justify-content: space-between;
}

.justify_content_center {
    justify-content: center;
}

.justify_content_start {
    justify-content: flex-start;
}

.text_align_center {
    text-align: center;
}

.d_flex_column {
    @extend .d_flex;
    flex-direction: column;
}

.flex_wrap {
    flex-wrap: wrap;
}